body {
	background-image: url('./mario.png');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Gill Sans", sans-serif;
	padding: 2rem;
	font-size: 20px;
}


li {
	list-style-type: none;
	line-height: 2;
	font-size: 22px;
}
